.pricing-section {
  padding: 60px 20px;
  background: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.pricing-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}

.pricing-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing-card {
  width: 320px;
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.card-header {
  background: linear-gradient(180deg, #33a7c4, #0b6fa4);
  color: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-header h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.card-header h2 {
  font-size: 36px;
  margin: 5px 0;
}

.card-header p {
  margin: 0;
  font-size: 16px;
}

.small-text {
  font-size: 14px;
  opacity: 0.9;
}

.maintenance {
  margin-top: 15px;
  font-size: 16px;
}

.card-body {
  padding: 25px 20px;
  text-align: left;
}

.card-body ul {
  padding-left: 18px;
}

.card-body li {
  margin-bottom: 10px;
  font-size: 15px;
}

.pricing-card .card-footer {
  margin-top: auto; /* PUSHES BUTTON TO BOTTOM */
  margin-bottom: 10px;
}

/* Highlight middle plan */
.featured {
  transform: translateY(-10px);
}
